<!DOCTYPE HTML>
<html>
<head>
	<!--herramienta postman para ver peticiones al servidor nodejs-->
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
	<script src="js/lib/jquery-min.js" type="text/javascript"></script>
  	<script src="js/lib/underscore-min.js" type="text/javascript"></script>
  	<script src="js/lib/backbone-min.js"></script>

  	<!-- template para el paso 3-3 -->
	<script type="text/template" id="user-list-template">
    <a href="#/new" class="btn btn-primary">Nuevo usuario</a>
    <hr />
    <table class="table striped">
      <thead>
        <tr>
          <th>First Name</th><th>Last Name</th><th>Age</th><th></th>
        </tr>
      </thead>
      <tbody>
        <% _.each(users, function(user) { %>
          <tr>
            <td><%= user.get('firstname') %></td>
            <td><%= user.get('lastname') %></td>
            <td><%= user.get('age') %></td>
            <td><a class="btn" href="#/edit/<%= user.id %>">Edit</a></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </script>

  <script type="text/template" id="edit-user-template">
    <form class="edit-user-form">
    	<legend>Crear usuario</legend>
        <label>First Name</label>
        <input name="firstname" type="text" /> 
        <label>Last Name</label>
        <input name="lastname" type="text" /> 
        <label>Age</label>
        <input name="age" type="text" /> 
        <hr />
       <button type="submit" class="btn">Crear usuario</button> 
    </form>
  </script>

   <div class="container">
    <h1>Gestor de Usuarios</h1>
    <hr />
    <div class="page"></div>
  </div>

	<script src="js/util.js"></script>
	<script src="js/collections/users.js"></script>
	<script src="js/models/user.js"></script>
	<script src="js/views/userlist.js"></script>
	<script src="js/views/editUser.js"></script>
	<script src="js/routers/router.js"></script>

  <script>	

	    Backbone.history.start();
  </script>

</body>
</html>